@font-face {
  font-family: SkyUI;
  src: url(Sky\ Text.ttf);
}

*{
  font-family: SkyUI;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
  
li {
  display: inline;
  float: left;
  background-color: white;
}
  
li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: SkyUI;
}
.float-start{
    height: 25px;
}

  
li a:hover:not(.active) {
  text-decoration: underline;
}
>>>>>>> 3097ea08c1b47e37e60e7364b944cbe07a0884e0

nav {
display: flex;
}

img {
    width:50px;
    height: auto;
}