@font-face {
  font-family: SkyUI;
  src: url(Sky\ Text.ttf);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
  
li {
  display: inline;
  float: left;
  background-color: white;
}
  
li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: SkyUI;
}
  
<<<<<<< HEAD
  li a:hover:not(.active) {
    text-decoration: underline;
  }
<<<<<<< HEAD
  .my-custom-row{
    background-color: rgb(34, 108, 219);
    font-family: SkyUI;
    
        }
.row1{
    background-color: darkgrey;
    height: 75px;
    font-family: SkyUI;
}
.row2{
    background-color: rgb(34, 108, 219);
    height: 400px;
    font-family: SkyUI;
}
.float-start{
    height: 25px;
}

  
=======
=======
li a:hover:not(.active) {
  text-decoration: underline;
}
>>>>>>> 3097ea08c1b47e37e60e7364b944cbe07a0884e0

nav {
display: flex;
}

img {
    width:50px;
    height: auto;
}
>>>>>>> 485cef5409e05494eb3d0244bbae17e5dea3e9db
